.navbar {
  /* background-color: #00205b; */
  padding: 0.8rem 1.5rem;
  font-family: 'Segoe UI', sans-serif;
  position: sticky;
  top: 0;
  z-index: 999;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.navbar-container {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-brand {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.logo-image {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.company-name {
  color: white;
  font-weight: 700;
  font-size: 1.2rem;
}

.navbar-menu {
  display: flex;
  list-style: none;
  gap: 1.8rem;
  margin: 0;
  padding: 0;
}

.navbar-menu a {
  color: #ffffff;
  font-size: 1rem;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

.navbar-menu a:hover {
  color: #ffcb05;
}

.navbar-contact .contact-link {
  background-color: #1d2e7b;
  color: #fff;
  font-weight: 600;
  padding: 0.4rem 0.8rem;
  border-radius: 8px;
  text-decoration: none;
  font-size: 0.95rem;
  transition: background 0.3s ease;
}

.navbar-contact .contact-link:hover {
  background-color: #ffcb05;
  color: #00205b;
}

.menu-toggle {
  display: none;
  cursor: pointer;
  font-size: 1.4rem;
  color: white;
}

@media (max-width: 1024px) {
  .navbar-menu {
    display: none;
    flex-direction: column;
    background-color: #00205b;
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    text-align: center;
  }

  .navbar-menu.show {
    display: flex;
  }

  .menu-toggle {
    display: block;
  }
}